@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/RobotoThin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/RobotoRegular.ttf");
  font-weight: 300;
}

* {
	box-sizing: border-box;
}

.header {
	border: 1px rgb(171, 235, 203);
}
.main {
	border: 1px rgb(171, 235, 203);
}

.footer {
	border: 1px rgb(171, 235, 203);
}

 body {
	min-height: 100vh;
 }

 body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

html {
  scroll-behavior: smooth; 
}
.nav-list {
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}