@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/RobotoThin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/RobotoRegular.ttf");
  font-weight: 300;
}

* {
	box-sizing: border-box;
}

.header {
	border: 1px rgb(171, 235, 203);
}
.main {
	border: 1px rgb(171, 235, 203);
}

.footer {
	border: 1px rgb(171, 235, 203);
}

 body {
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
 }

 body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

html {
  scroll-behavior: smooth; 
}

li {
	list-style: none;
}


.nav-list li {
	display: inline;
}

.nav-list a {
text-decoration: none;
font-family: sans-serif;
color: #173835;
display: inline-block;
padding: 10px 20px;
background-color: lavender;
border-bottom: 5px solid #205241;
}

.nav-list li {
float: right;
}

.nav-list {
	overflow: hidden;
}

.round {
	border-radius: 100px;
	border: 3px solid green; 
	box-shadow: 0 0 7px #666; 
	 }

.round {
	display: block;
  margin: 0 auto;
}

.div{
	width: 70%;
  margin: 80px auto;
  position: relative;
}

.left {
	float: left;
	width: 49%;
}

.left {
	float: right;
	width: 49%;
}

.left:before {
  float: right;
}

.right:before {
  float: left;
}
.img {
	float: right;
    margin: 0 0 5px 5px;
}

h1 {
	margin-left: 60px;
}